@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .cont {
        max-width: 1240px;
        margin: 5rem auto 5rem;
        padding: 0 20px;
    }

    .nav-list li:hover {
        color: rgb(239 68 68 / var(--tw-text-opacity));
    }
}